.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-card {
    width: 400px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
    margin-top: 10px;
}

mat-card-actions {
    justify-content: flex-end;
}

