body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
}

.company-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    padding: 2rem;
}

.logo {
    margin-bottom: 1.5rem;
    width: 9rem;
    max-width: 100%;
}

.login-section {
    width: 30%;
    background-color: #2e5377;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.auth-container {
    width: 85%;
    max-width: 25rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.6rem 1.5rem rgba(0,0,0,0.3);
}

.tab-container {
    display: flex;
    width: 100%;
    background-color: #24415d;
}

.tab-btn {
    flex: 1;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #aeb9c4;
    font-weight: bold;
    transition: 0.3s;
    border-bottom: 0.25rem solid transparent;
}

.form-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.login-form, .signup-form, .forgot-form {
    display: none;
    flex-direction: column;
}

#login-content { 
    display: flex; 
}

#signup:target ~ .auth-container .form-wrapper #signup-content { 
    display: flex; 
}

#signup:target ~ .auth-container .form-wrapper #login-content { 
    display: none; 
}

#forgot:target ~ .auth-container .form-wrapper #forgot-content { 
    display: flex; 
}

#forgot:target ~ .auth-container .form-wrapper #login-content { 
    display: none; 
}

#forgot:target ~ .auth-container .form-wrapper #signup-content { 
    display: none; 
}

.login-tab { 
    border-bottom: 0.25rem solid #3498db; 
    color: white; 
    background-color: #2e5377; 
}

h2 { 
    margin-bottom: 1.25rem; 
    margin-top: 0; 
    font-size: 1.5rem; 
}

input { 
    padding: 0.75rem; 
    margin-bottom: 1rem; 
    border-radius: 0.25rem; 
    border: none; 
    width: 100%; 
    box-sizing: border-box; 
}

button { 
    padding: 0.75rem; 
    background-color: #3498db; 
    color: white; 
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    font-weight: bold; 
    width: 100%; 
}

.forgot-link {
    color: #aeb9c4;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 0.6rem;
    text-align: center;
}

.state-anchor { 
    position: absolute; 
    visibility: hidden; 
}

@media (max-width: 62rem) {
    body { 
        flex-direction: column; 
        height:100vh; 
    }
    
    .company-info { 
        width: 100%; 
        padding: 4rem 1rem; 
        box-sizing: border-box;
    }
    
    .login-section { 
        width: 100%; 
        padding: 1rem 0; 
        min-height: 70vh; 
    }
    
    .auth-container { 
        width: 90%; 
    }
}